@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

.logo {
  font-family: "Kalam",cursive;
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: -3px;
  flex: 1 1;
  max-width: 30vw;
  transition: all .25s;
}

.nav {
  display: flex;
  width: 100%;
  padding: 20px 0;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: -2px;
  box-shadow: 1px 1px 1px 0.3px #cecece;
}